@use 'variables'

.Container
    width: 40vw
    background: variables.$color1
    margin: 0 auto
    border-radius: 15px
    background: variables.$color3

    @media screen and (max-width:320px)
        background: green
        