@use 'variables'

.Container
    width: 60vw
    background: variables.$color1
    margin: 0 auto
    border-radius: 15px
    background: variables.$color3
    box-shadow: 1px 1px 10px black

    @media screen and (max-width: 620px)  
        width: 90vw
        