@use 'variables'

.form
    align-items: center
    border-bottom: 1px solid black
.write
    display: block
    margin: 0 auto
    width: 90%
    background: variables.$color1
    border: 1px solid black
    border-radius: 7px
    height: 30px
    margin-bottom: 1em

.btn
    display: block
    margin: 0 auto
    border: 1px solid black
    border-radius: 7px
    margin-bottom: 1em
    cursor: pointer
    height: 25px
    width: 100px
    background: #363A8A